@page "/them-phuong-thuc-thanh-toan"
@inject PaymentServices _paymentServices

<link href="css/all_page.css" rel="stylesheet" />

@rendermode InteractiveServer

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Thêm phương thức thanh toán</h5>
                                </div>

                                <form class="theme-form theme-form-2 mega-form" @onsubmit="HandleSubmit">
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Loại thanh toán</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" @bind="newPayment.PaymentType"
                                                   placeholder="Nhập loại thanh toán">
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Tên ngân hàng</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" @bind="newPayment.BankName"
                                                   placeholder="Nhập Tên ngân hàng">
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Số tài khoản</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" @bind="newPayment.AccountNumber"
                                                   placeholder="Nhập loại thanh toán">
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Lưu ý</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" rows="3" @bind="newPayment.Note"></textarea>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Ảnh</label>
                                        <div class="table-image" style="width: 200px;">
                                            <img src="@imagePreviewUrl" class="img-fluid" alt="image" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';" />
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-3 col-form-label form-label-title"></label>
                                        <InputFile class="table-image col-6" accept=".jpg,.jpeg,.png" OnChange="OnFileSelected" required />
                                    </div>

                                    <div class="modal-footer">
                                        @if (ShowLoadingButton)
                                        {
                                            <ButtonLoad></ButtonLoad>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-primary buttonload">Thêm</button>
                                        }
                                    </div>
                                    @if (!string.IsNullOrEmpty(message))
                                    {
                                        <div class="alert alert-success mt-4">@message</div>
                                    }

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [CascadingParameter]
    public Task<AuthenticationState>? AuthenticationState { get; set; }

    private CreatePaymentDto newPayment = new CreatePaymentDto();

    private string imagePreviewUrl = "/img_dev/datanull.png";
    private IBrowserFile? selectedFile;
    private bool ShowLoadingButton { get; set; } = false;
    private string message;

    protected async override Task OnInitializedAsync()
    {
        await CheckUserAuthentication();
    }
    private async Task CheckUserAuthentication()
    {
        var user = (await AuthenticationState!).User;
        bool isUserAuthenticated = user.Identity!.IsAuthenticated;
        if (!isUserAuthenticated)
            NavigationManager.NavigateTo("/account/login");
    }

    private async Task HandleSubmit()
    {
        ShowLoadingButton = true;
        var success = await _paymentServices.CreatePaymentAsync(newPayment, selectedFile);
        if (success)
        {
            newPayment = new CreatePaymentDto();
            imagePreviewUrl = "/img_dev/datanull.png";
            message = "Tạo bài viết thành công";
        }
        else
        {
            message = "Tạo bài viết thất bại";
        }

        await Task.Delay(1000);
        ShowLoadingButton = false;
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
        var buffer = new byte[selectedFile.Size];
        await selectedFile.OpenReadStream(10485760).ReadAsync(buffer);
        imagePreviewUrl = $"data:{selectedFile.ContentType};base64,{Convert.ToBase64String(buffer)}";
    }

}