@page "/them-san-pham"

@rendermode InteractiveServer

<div class="page-body">

    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Thêm sản phẩm</h5>
                                </div>

                                <form class="theme-form theme-form-2 mega-form">
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            Tên SP
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text"
                                                   placeholder="Nhập tên SP" required>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">
                                            Danh mục SP
                                        </label>
                                        <div class="col-sm-9">
                                            <select class="js-example-basic-single w-100" name="state">
                                                <option disabled>Static Menu</option>
                                                <option>Simple</option>
                                                <option>Classified</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            Giá Gốc
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text"
                                                   placeholder="Nhập giá gốc">
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            Giảm giá
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text"
                                                   placeholder="Nhập giá giảm">
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            SL kho
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text"
                                                   placeholder="Nhập số lượng hàng" required>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            Nổi bật
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text"
                                                   placeholder="Product Name" required>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">
                                            Đánh giá sao
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-9">
                                            <select class="js-example-basic-single w-100" name="state">
                                                <option>Chọn số sao</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="mb-4 row">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            Miêu tả SP
                                        </label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="mb-4 row">
                                        <label class="form-label-title col-sm-3 mb-0">
                                            Mô tả SP
                                        </label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Ảnh chính</label>
                                        <div class="table-image" style="width: 200px;">
                                            <img src="" class="img-fluid" alt="image" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';" />
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-3 col-form-label form-label-title"></label>
                                        <InputFile class="table-image col-6 mx-2" accept=".jpg,.jpeg,.png" required />
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <div class="col-sm-3 form-label-title"> Ảnh phụ</div>
                                        <div class="col-sm-9">
                                            <div class="dropdown icon-dropdown">
                                                <InputFile class="table-image col-6" accept=".jpg,.jpeg,.png" required style="font-family: 'Public Sans';" />
                                                <ul class="dropdown-menu d-block">
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="../assets/svg/1/vegetable.svg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="../assets/svg/1/cup.svg"
                                                                 class="blur-up lazyload" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="../assets/svg/1/meats.svg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="../assets/svg/1/breakfast.svg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="../assets/svg/1/frozen.svg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="../assets/svg/1/biscuit.svg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="../assets/svg/1/grocery.svg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="../assets/svg/1/drink.svg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="../assets/svg/1/milk.svg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">
                                                            <img src="../assets/svg/1/pet.svg"
                                                                 class="img-fluid" alt="">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>