@page "/gio-hang"


<link href="css/cart.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="assets/css/style.min.css">

@rendermode InteractiveServer


<main class="main cart">
    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb shop-breadcrumb bb-no">
                <li class="active"><a href="cart.html">Shopping Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="order.html">Order Complete</a></li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->
    <!-- Start of PageContent -->
    <div class="page-content">
        <div class="container">
            <div class="row gutter-lg mb-10">
                <div class="col-12 mb-6">
                    <table class="shop-table cart-table">
                        <thead>
                            <tr>
                                <th class="product-name"><span>Sản phẩm</span></th>
                                <th></th>
                                <th class="product-price"><span>Giá</span></th>
                                <th class="product-price"><span>Giá Giảm</span></th>
                                <th class="product-quantity product__quantity_item"><span>Số lượng</span></th>
                                <th class="product-subtotal text-center"><span>Hành động</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product-thumbnail">
                                    <div class="p-relative">
                                        <a href="product-default.html">
                                            <figure>
                                                <img src="assets/images/shop/12.jpg" alt="product"
                                                     width="300" height="338">
                                            </figure>
                                        </a>
                                        <button type="submit" class="btn btn-close">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                                <td class="product-name">
                                    <a href="product-default.html">
                                        Classic Simple Backpack
                                    </a>
                                </td>
                                <td class="product-price"><span class="amount">$40.00</span></td>
                                <td class="product-price"><span class="amount">$40.00</span></td>
                                <td class="product-quantity product__quantity_item">
                                    <div class="input-group">
                                        <input class="quantity form-control" type="number" min="1" max="100000">
                                        <button class="quantity-plus w-icon-plus"></button>
                                        <button class="quantity-minus w-icon-minus"></button>
                                    </div>
                                </td>

                                <td class="product-subtotal text-center">
                                    <a class="amount">
                                        <i class="fas fa-trash-alt" style="color: red;"></i>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <div class="cart-action mb-6">
                        <a href="/san-pham" class="btn btn-dark btn-rounded btn-icon-left btn-shopping mr-auto"><i class="w-icon-long-arrow-left"></i>Về trang mua sắm</a>
                        <span class="total_price">Tổng tiền : 100$</span>
                        <button type="submit" class="btn btn-rounded btn-update" name="update_cart" value="Update Cart">Mua hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PageContent -->
</main>