@page "/order-success/{orderId:guid}"


<link rel="stylesheet" type="text/css" href="assets/css/style.min.css">
<link rel="stylesheet" type="text/css" href="css/orderSucess.css">


@rendermode InteractiveServer


<main class="main order">
    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb shop-breadcrumb bb-no">
                <li class="passed"><a href="cart.html">Shopping Cart</a></li>
                <li class="passed"><a href="checkout.html">Checkout</a></li>
                <li class="active"><a href="order.html">Order Complete</a></li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->
    <!-- Start of PageContent -->
    <div class="page-content mb-10 pb-2">
        <div class="container">
            <div class="order-success text-center font-weight-bolder text-dark">
                <i class="fas fa-check" style="color: #4bca51;"></i>
                Cảm ơn. Đơn đặt hàng của bạn đã được nhận.
            </div>
            <!-- End of Order Success -->

            <ul class="order-view list-style-none">
                <li>
                    <label>Mã đơn hàng</label>
                    <strong> <i class="fas fa-copy" style="color: #467b9a;margin-left: 5px;"></i>945</strong>
                </li>
                <li>
                    <label>Trạng thái đơn hàng</label>
                    <strong>Đang chờ</strong>
                </li>
                <li>
                    <label>Ngày đặt hàng</label>
                    <strong>April 27, 2021</strong>
                </li>
                <li>
                    <label>Tổng cộng</label>
                    <strong>$1,646.36</strong>
                </li>
                <li>
                    <label>Payment method</label>
                    <strong>Direct bank transfor</strong>
                </li>
            </ul>
            <!-- End of Order View -->

            <div class="order-details-wrapper mb-5">
                <h4 class="title text-uppercase ls-25 mb-5">Chi tiết đơn hàng</h4>
                <table class="order-table">
                    <thead>
                        <tr>
                            <th class="text-dark">Sản phẩm</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="product-details d-flex align-items-center">
                                <img src="Img_Dev/Image/Product/2-5.jpg" alt="product" class="img-fluid product-image" style="width: 80px; height: auto;">
                                <div class="product-info" style="margin-left: 10px;">
                                    <a href="#" class="no_wra">Palm Print Jacket</a>&nbsp;<br>
                                    Số lượng: <a href="#"> 1</a>
                                </div>
                            </td>
                            <td>$40.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Tổng Phụ:</th>
                            <td>$100.00</td>
                        </tr>
                        <tr>
                            <th>Phí vận chuyển:</th>
                            <td>Flat rate</td>
                        </tr>
                        <tr class="total">
                            <th class="border-no">Tổng:</th>
                            <td class="border-no">$100.00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- End of Order Details -->

            <div class="sub-orders mb-10">
                <div class="alert alert-icon alert-inline mb-5">
                    <strong>  <i class="fas fa-shipping-fast me-2"></i>Đia chỉ Giao hàng: </strong>This order has products from multiple vendors. So we divided this order into multiple vendor orders.
                    Each order will be handled by their respective vendor independently.
                </div>
            </div>
            <div class="image-text-wrapper d-flex align-items-center justify-content-center">
                <img src="Img_Dev/QR_code.jpg" alt="Sample Image" style="width: 450px; max-width: unset" class="img-fluid custom-image">

                <table class="order-table">
                    <thead>
                        <tr>
                            <th class="text_color_item">Thông tin chuyển khoảng</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th class="text_color_item">Ngân hàng :</th>
                            <td>Vietinbank</td>
                        </tr>
                        <tr>
                            <th class="text_color_item">Số tài khoản :</th>
                            <td>0707830715 <i class="fas fa-copy" style="color: #467b9a;margin-left: 5px;"></i></td>
                        </tr>
                        <tr class="total">
                            <th class="border-no text_color_item"><i class="w-icon-exclamation-triangle"></i>Lưu ý</th>
                            <th class="border-no">Khi chuyển khoảng bạn cần nhập mã đơn hàng vảo mục ghi chú.</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
    <!-- End of PageContent -->
</main>

@code{
    [Parameter]
    public Guid orderId { get; set; }
}