
@inherits LayoutComponentBase

@* <link href="css/all_page.css" rel="stylesheet" /> *@

<div class="home my-account">
    <div class="page-wrapper">
        <_P_Header/>
        @Body
        <_P_Footer/>
    </div>
</div>

<_P_Responsive/> 


