@using Blazored.Toast
@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

@* <link href="css/all_page.css" rel="stylesheet" /> *@

<div class="home my-account">
    <div class="page-wrapper">
        <_P_Header/>
        @Body
        <_P_Footer/>
    </div>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.Material"
                ErrorIcon="error_outline"
                InfoIcon="school"
                SuccessIcon="done_outline"
                WarningIcon="warning"
                ShowProgressBar="@true"
                ShowCloseButton="@true"
                MaxToastCount="3"/>

<_P_Responsive/> 
