
@inherits LayoutComponentBase

@* <link href="css/all_page.css" rel="stylesheet" /> *@

<div class="home my-account">
    <div class="page-wrapper">
        <_P_Header/>
        @Body
        <_P_Footer/>
    </div>
</div>

<_P_Responsive/> 

@* <BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
            Timeout="10"
            IconType="Blazored.Toast.Configuration.IconType.FontAwesome"
            SuccessClass="success-toast-override"
            SuccessIcon="fa fa-thumbs-up"
            ErrorIcon="fa fa-bug"
            WarningIcon="fa fa-warning"
            InfoIcon="fa fa-info-circle">

</BlazoredToasts> *@

