
@inherits LayoutComponentBase

@* <link href="css/all_page.css" rel="stylesheet" /> *@

<div class="home my-account">
    <div class="page-wrapper">
        <div class="sticky-icon-links">
            <ul>
                <li>
                    <a href="/" class="demo-toggle" title="Demos">
                        <i class="fas fa-home"></i>
                        <span class="expanded-label">Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a href="https://d-themes.com/wordpress/wolmart/documentation/" rel="noopener" target="_blank" title="Documentation">
                        <i class="w-icon-exclamation-circle"></i>
                        <span class="expanded-label">Documentation</span>
                    </a>
                </li>
                <li>
                    <a href="https://d-themes.com/support/" rel="noopener" target="_blank" title="Support">
                        <i class="w-icon-comments"></i>
                        <span class="expanded-label">Support</span>
                    </a>
                </li>
                <li>
                    <a href="https://themeforest.net/downloads/" rel="noopener" target="_blank" title="Reviews">
                        <i class="w-icon-reviews"></i>
                        <span class="expanded-label">Reviews</span>
                    </a>
                </li>
                <li>
                    <a href="https://d-themes.com/buynow/wolmartwp" rel="noopener" target="_blank" title="Buy now!">
                        <i class="w-icon-cart"></i>
                        <span class="expanded-label">Giỏ hàng</span>
                    </a>
                </li>
            </ul>
        </div>
        <_P_Header/>
        @Body
        <_P_Footer/>
    </div>
</div>

<_P_Responsive/> 


