@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService LocalStorage

@inject BaseServices BaseServices

<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <p class="welcome-msg">Welcome to Wolmart Store message or remove it!</p>
            </div>
            <div class="header-right">
                <div id="google_translate_element"></div>
                <div class="btn_language">
                    <div class="active_flag">
                        <button class="d-lg-show btn_language_item">
                            <img src="/img_dev/us.png" />
                        </button>
                    </div>
                    <div>
                        <button class="d-lg-show btn_language_item active_flag" style="object-fit: contain;opacity: 0.3">
                            <img src="/img_dev/vi.png" />
                        </button>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#language">
                        <i class="w-icon-account"></i> Tài khoản
                    </a>
                    <div class="dropdown-box">
                        <AuthorizeView>
                            <Authorized>
                                <a href="/account/thong-tin-ca-nhan">
                                    Profile
                                </a>
                                <button class="cursor" @onclick="Logout">
                                    Đăng Xuất
                                </button>
                            </Authorized>
                            <NotAuthorized>
                                <a href="/account/dang-nhap">
                                    Đăng Nhập
                                </a>
                                <a href="/account/dang-ky">
                                    Đăng Ký
                                </a>
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End of Header Top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left mr-md-4">
                <a href="#" class="mobile-menu-toggle w-icon-hamburger">
                </a>
                <a href="/" class="logo ml-lg-0">
                    <img src="img_dev/image/logo/logo.svg" alt="logo" width="144" height="45" />
                </a>
                <form @onsubmit="PerformSearch" class="input-wrapper header-search hs-expanded hs-round d-none d-md-flex">
                    <input @bind="keyword" type="text" class="form-control input_item" name="search" id="search"
                           placeholder="Tìm kiếm sản phẩm..." required />
                    @*   <button class="btn btn-search" type="submit">
                    <i class="fa-solid fa-microphone" style="color: #63E6BE;"></i>
                    </button> *@
                    <button class="btn btn-search" type="submit">
                        <i class="w-icon-search"></i>
                    </button>
                </form>
            </div>
            <div class="header-right ml-4">
                <div class="header-call d-xs-show d-lg-flex align-items-center">
                    <a href="tel:#" class="w-icon-call"></a>
                    <div class="call-info d-lg-show">
                        <h4 class="chat font-weight-normal font-size-md text-normal ls-normal text-light mb-0">
                            <a href="mailto:#" class="text-capitalize">Điện thoại</a>:
                        </h4>
                        <a href="tel:#" class="phone-number font-weight-bolder ls-50">0(800)123-456</a>
                    </div>
                </div>
                <div class="dropdown cart-dropdown cart-offcanvas mr-0 mr-lg-2">
                    <div class="cart-overlay"></div>
                    <a href="#" class="cart-toggle label-down">
                        <i class="w-icon-cart">
                            <span class="cart-count">2</span>
                        </i>
                        <span class="cart-label">Giỏ Hàng</span>
                    </a>
                    <!-- End of Dropdown Box -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Header Middle -->

    <div class="header-bottom sticky-content fix-top sticky-header">
        <div class="container">
            <div class="inner-wrap">
                <div class="header-left">
                    <nav class="main-nav ml-0">
                        <ul class="menu">
                            <li class="">
                                <a href="/">Trang Chủ</a>
                            </li>
                            <li>
                                <a href="/san-pham">Sản phẩm</a>
                                <ul class="submenu_item_custom">
                                    @if (cateProducts != null && cateProducts.Any())
                                    {
                                        @foreach (var item in cateProducts)
                                        {
                                            <li>
                                                <a href="/san-pham/?c1=@item.Id">
                                                    <img src="@(string.IsNullOrEmpty(item.FilePath) ? "/Img_Dev/default.png" : item.FilePath)" alt="Category Image" />
                                                    <span>@item.Name</span>
                                                </a>
                                                @if (item.CategoriesObjs.Any())
                                                {
                                                    <ul>
                                                        @foreach (var res in item.CategoriesObjs)
                                                        {
                                                            <li>
                                                                <a href="/san-pham?c2=@res.Id">@res.Name</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }

                                            </li>
                                        }
                                    }

                                </ul>
                            </li>
                            <li>
                                <a href="/gioi-thieu">Giới Thiệu</a>
                                <ul>
                                    @if (cateIntroduces != null && cateIntroduces.Any())
                                    {
                                        @foreach (var item in cateIntroduces)
                                        {
                                            <li>
                                                <a href="/gioi-thieu?c=@item.Id">@item.Name</a>
                                            </li>
                                        }
                                    }

                                </ul>
                            </li>
                            <li>
                                <a href="/lien-he">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <a href="#" class="d-xl-show"><i class="w-icon-map-marker mr-1"></i>Sản phẩm Hot</a>
                </div>
            </div>
        </div>
    </div>
</header>


@code
{
    private IEnumerable<CateProductDto> cateProducts;
    private IEnumerable<CategoryIntroduceDto> cateIntroduces;

    private string? keyword = null;
    private int currentPage = 1;
    private int pageSize = 10;

    protected override async Task OnInitializedAsync()
    {
        cateProducts = await BaseServices.GetAllCategoryProducts();
        cateIntroduces = await BaseServices.GetAllCategoryIntroduces();
    }
    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");

        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/account/dang-nhap", forceLoad: true);
    }
    private void PerformSearch()
    {
        if (!string.IsNullOrEmpty(keyword))
        {
            NavigationManager.NavigateTo($"/san-pham?keyword={keyword}&pageNumber={currentPage}&pageSize={pageSize}", forceLoad: true);
        }
    }

}