.dashboard_category_item img {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 27%;
}

.no_wrap_1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.card_body_scroll {
    max-height: 325px;
    overflow-y: auto;
}
.scroll_recent_order {
    overflow-y: auto;
    max-height: 305px;
}
.text_10 {
    font-size: 10px;
}