.dataTables_filter {
    color: #333;
    margin-bottom: 25px;
    text-align: right;
}
.dataTables_filter label input{
    border: 1px solid #ced4da;
    padding: 8px 38px 8px 10px;
    margin-left: 13px;
}
.btn_search {
    border: none;
    background: #fff;
}
.search_box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
.search_input {
    font-family: 'Public Sans' !important;
    border: none;
    outline: none;
    padding: 5px;
    width: 200px;
}
.search_button {
    background: none;
    border: none;
    cursor: pointer;
    color: #999;
    padding: 0 10px;
}
.sort_categories {
    border: 1px solid #ccc;
    border-radius: 3px;
}
.table-responsive .table-product thead tr th
{
    color: #000 !important;
}
