.dataTables_filter {
    color: #333;
    margin-bottom: 25px;
    text-align: right;
}
.dataTables_filter label input{
    border: 1px solid #ced4da;
    padding: 8px 38px 8px 10px;
    margin-left: 13px;
}
.btn_search {
    border: none;
    background: #fff;
}



.table-responsive .table-product thead tr th
{
    color: #000 !important;
}
