<div class="main-content">
    <!-- Start of Shop Banner -->
    <div class="shop-default-banner shop-boxed-banner banner d-flex align-items-center mb-6 br-xs"
         style="background-image: url(assets/images/demos/demo9/banner/4.jpg); background-color: #494844;">
        <div class="banner-content">
            <h4 class="banner-subtitle font-weight-normal text-uppercase text-white ls-normal">
                Up To <strong class="text-secondary">70%</strong> Discount
            </h4>
            <h3 class="banner-title text-white text-capitalize ls-25">Fashion Collection</h3>
            <a href="demo9-shop.html"
               class="btn btn-white btn-rounded btn-icon-right btn-outline">
                Shop Now<i class="w-icon-long-arrow-right"></i>
            </a>
        </div>
    </div>
    <!-- End of Shop Banner -->

    <nav class="toolbox sticky-toolbox sticky-content fix-top">
        <div class="toolbox-left">
            <a href="#" class="btn btn-primary btn-outline btn-rounded left-sidebar-toggle
                                        btn-icon-left d-block d-lg-none">
                <i class="w-icon-category"></i><span>Filters</span>
            </a>
            <div class="toolbox-item toolbox-sort select-box text-dark">
                <label>Sort By :</label>
                <select name="orderby" class="form-control">
                    <option value="default" selected="selected">Default sorting</option>
                    <option value="popularity">Sort by popularity</option>
                    <option value="rating">Sort by average rating</option>
                    <option value="date">Sort by latest</option>
                    <option value="price-low">Sort by pric: low to high</option>
                    <option value="price-high">Sort by price: high to low</option>
                </select>
            </div>
        </div>
        <div class="toolbox-right">
            <div class="toolbox-item toolbox-show select-box">
                <select name="count" class="form-control">
                    <option value="9">Show 9</option>
                    <option value="12" selected="selected">Show 12</option>
                    <option value="24">Show 24</option>
                    <option value="36">Show 36</option>
                </select>
            </div>
            <div class="toolbox-item toolbox-layout">
                <a href="shop-boxed-banner.html" class="icon-mode-grid btn-layout active">
                    <i class="w-icon-grid"></i>
                </a>
                <a href="shop-list.html" class="icon-mode-list btn-layout">
                    <i class="w-icon-list"></i>
                </a>
            </div>
        </div>
    </nav>
    <div class="product-wrapper row cols-lg-4 cols-md-3 cols-sm-2 cols-2">
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/5-3.jpg" alt="Product"
                             width="800" height="900" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Gold Watch</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$41.36</ins><del class="old-price">$48.82</del>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/5-7.jpg" alt="Product"
                             width="800" height="900" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Comfortable Backpack</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$138.05</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/5-4.jpg" alt="Product"
                             width="800" height="900" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Brown Leather Shoes</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$70.28</ins><del class="old-price">$75.32</del>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/5-8.jpg" alt="Product"
                             width="800" height="900" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Comfortable Armchair</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$290.05</ins><del class="old-price">$302.74</del>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/5-5.jpg" alt="Product"
                             width="800" height="900" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Men's Suede Belt</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$37.19</ins><del class="old-price">$40.57</del>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/5-9.jpg" alt="Product"
                             width="800" height="900" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Prtable Torch</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$10.73</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/5-6.jpg" alt="Product"
                             width="800" height="900" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Wooden Chair</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$40.21</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/5-10.jpg" alt="Product"
                             width="800" height="900" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Top Men's Hiking Hat</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$20.84</ins><del class="old-price">$25.92</del>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/6-1.jpg" alt="Product"
                             width="600" height="675" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Lattice Soft Pillow</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$73.40</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/6-2.jpg" alt="Product"
                             width="600" height="675" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Comfortable Armchair</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$290.05</ins><del class="old-price">$302.74</del>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/6-3.jpg" alt="Product"
                             width="600" height="675" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Lantern</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$108.54</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/6-4.jpg" alt="Product"
                             width="600" height="675" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Morden Table</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$231.47</ins><del class="old-price">$259.17</del>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/6-5.jpg" alt="Product"
                             width="600" height="675" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Plastic Candle Box</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$46.16</ins><del class="old-price">$51.29</del>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/7-1.jpg" alt="Product"
                             width="600" height="675" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Wireless Mouse</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$15.73</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/7-2.jpg" alt="Product"
                             width="600" height="675" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Wonderful Sound Music Player</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$50.29 - $58.28</ins>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product text-center">
                <figure class="product-media">
                    <a href="product-default.html">
                        <img src="assets/images/demos/demo9/product/7-3.jpg" alt="Product"
                             width="600" height="675" />
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                           title="Add to cart"></a>
                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                           title="Wishlist"></a>
                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                           title="Compare"></a>
                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                           title="Quick View"></a>
                    </div>
                </figure>
                <div class="product-details">
                    <h3 class="product-name">
                        <a href="product-default.html">Fashion Table Sound Marker</a>
                    </h3>
                    <div class="product-price">
                        <ins class="new-price">$72.80</ins>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="toolbox toolbox-pagination justify-content-between">
        <p class="showing-info mb-2 mb-sm-0">
            Showing<span>1-12 of 60</span>Products
        </p>
        <ul class="pagination">
            <li class="prev disabled">
                <a href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                    <i class="w-icon-long-arrow-left"></i>Prev
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="next">
                <a href="#" aria-label="Next">
                    Next<i class="w-icon-long-arrow-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>