<aside class="sidebar shop-sidebar sticky-sidebar-wrapper sidebar-fixed">
    <!-- Start of Sidebar Overlay -->
    <div class="sidebar-overlay"></div>
    <a class="sidebar-close" href="#"><i class="close-icon"></i></a>

    <!-- Start of Sidebar Content -->
    <div class="sidebar-content scrollable">
        <!-- Start of Sticky Sidebar -->
        <div class="sticky-sidebar">
            <!-- Start of Collapsible Widget -->
            <div class="widget widget-collapsible">
                <h3 class="widget-title"><label>Price</label></h3>
                <div class="widget-body">
                    <ul class="filter-items search-ul">
                        <li><a href="#">$0.00 - $100.00</a></li>
                        <li><a href="#">$100.00 - $200.00</a></li>
                        <li><a href="#">$200.00 - $300.00</a></li>
                        <li><a href="#">$300.00 - $500.00</a></li>
                        <li><a href="#">$500.00+</a></li>
                    </ul>
                    <form class="price-range">
                        <input type="number" name="min_price" class="min_price text-center"
                               placeholder="$min"><span class="delimiter">-</span><input type="number" name="max_price" class="max_price text-center"
                                                                                         placeholder="$max"><a href="#"
                                                                                                               class="btn btn-primary btn-rounded">Go</a>
                    </form>
                </div>
            </div>
           
        </div>
        <!-- End of Sidebar Content -->
    </div>
    <!-- End of Sidebar Content -->
</aside>