@page "/gioi-thieu"

<link rel="stylesheet" type="text/css" href="assets/css/style.min.css">

<main class="main">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">Giới thiệu</h1>
        </div>
    </div>
    <!-- End of Page Header -->
    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav mb-6">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="demo1.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li>List</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->
    <!-- Start of Page Content -->
    <div class="page-content mb-10 pb-2">
        <div class="container">
            <div class="row gutter-lg">
                <div class="main-content">
                    <article class="post post-list post-listing mb-md-10 mb-6 pb-2 overlay-zoom mb-4">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="assets/images/blog/classic/1.jpg" width="930"
                                     height="500" alt="blog">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-cats text-primary">
                                <a href="#">Fashion</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">New found the men dress for summer</a>
                            </h4>
                            <div class="post-content">
                                <p>
                                    Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo,
                                    eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at
                                    vulputate volutpat, uctus metus libero eu augue, vitae luctus…
                                </p>
                                <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                            </div>
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date">03.05.2021</a>
                            </div>
                        </div>
                    </article>
                    <ul class="pagination justify-content-center">
                        <li class="prev disabled">
                            <a href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                <i class="w-icon-long-arrow-left"></i>Prev
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="next">
                            <a href="#" aria-label="Next">
                                Next<i class="w-icon-long-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End of Main Content -->
                <aside class="sidebar right-sidebar blog-sidebar sidebar-fixed sticky-sidebar-wrapper">
                    <div class="sidebar-overlay">
                        <a href="#" class="sidebar-close">
                            <i class="close-icon"></i>
                        </a>
                    </div>
                    <a href="#" class="sidebar-toggle">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <div class="sidebar-content">
                        <div class="sticky-sidebar">
                            <div class="widget widget-search-form">
                                <div class="widget-body">
                                    <form action="#" method="GET" class="input-wrapper input-wrapper-inline">
                                        <input type="text" class="form-control"
                                               placeholder="Search in Blog" autocomplete="off" required>
                                        <button class="btn btn-search">
                                            <i class="w-icon-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!-- End of Page Content -->
</main>