<div class="col-12">
    <div class="card o-hidden card-hover">
        <div class="card-header border-0 pb-1">
            <div class="card-header-title p-0">
                <h4>Danh mục sản phẩm</h4>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="category-slider no-arrow">
                <div>
                    <div class="dashboard-category">
                        <a href="javascript:void(0)" class="category-image">
                            <img src="assets/svg/vegetable.svg" class="img-fluid" alt="">
                        </a>
                        <a href="javascript:void(0)" class="category-name">
                            <h6>Vegetables & Fruit</h6>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="dashboard-category">
                        <a href="javascript:void(0)" class="category-image">
                            <img src="assets/svg/cup.svg" class="img-fluid" alt="">
                        </a>
                        <a href="javascript:void(0)" class="category-name">
                            <h6>Beverages</h6>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="dashboard-category">
                        <a href="javascript:void(0)" class="category-image">
                            <img src="assets/svg/meats.svg" class="img-fluid" alt="">
                        </a>
                        <a href="javascript:void(0)" class="category-name">
                            <h6>Meats & Seafood</h6>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="dashboard-category">
                        <a href="javascript:void(0)" class="category-image">
                            <img src="assets/svg/breakfast.svg" class="img-fluid" alt="">
                        </a>
                        <a href="javascript:void(0)" class="category-name">
                            <h6>Breakfast</h6>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="dashboard-category">
                        <a href="javascript:void(0)" class="category-image">
                            <img src="assets/svg/frozen.svg" class="img-fluid" alt="">
                        </a>
                        <a href="javascript:void(0)" class="category-name">
                            <h6>Frozen Foods</h6>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="dashboard-category">
                        <a href="javascript:void(0)" class="category-image">
                            <img src="assets/svg/milk.svg" class="img-fluid" alt="">
                        </a>
                        <a href="javascript:void(0)" class="category-name">
                            <h6>Milk & Dairies</h6>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="dashboard-category">
                        <a href="javascript:void(0)" class="category-image">
                            <img src="assets/svg/pet.svg" class="img-fluid" alt="">
                        </a>
                        <a href="javascript:void(0)" class="category-name">
                            <h6>Pet Food</h6>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="dashboard-category">
                        <a href="javascript:void(0)" class="category-image">
                            <img src="assets/svg/vegetable.svg" class="img-fluid" alt="">
                        </a>
                        <a href="javascript:void(0)" class="category-name">
                            <h6>Vegetables & Fruit</h6>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="dashboard-category">
                        <a href="javascript:void(0)" class="category-image">
                            <img src="assets/svg/cup.svg" class="img-fluid" alt="">
                        </a>
                        <a href="javascript:void(0)" class="category-name">
                            <h6>Beverages</h6>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="dashboard-category">
                        <a href="javascript:void(0)" class="category-image">
                            <img src="assets/svg/meats.svg" class="img-fluid" alt="">
                        </a>
                        <a href="javascript:void(0)" class="category-name">
                            <h6>Meats & Seafood</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>