@inject CateProductServices _cateProductServices

<link href="css/home.css" rel="stylesheet" />

@code {
    private IEnumerable<CateProductDto> cateProducts;

    protected override async Task OnInitializedAsync()
    {
        cateProducts = await _cateProductServices.GetAllCategoryProductsHaveProduct();
    }
}

<div class="col-12">
    <div class="card o-hidden card-hover">
        <div class="card-header border-0 pb-1">
            <div class="card-header-title p-0">
                <h4>Danh mục sản phẩm</h4>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="category-slider no-arrow">
                @if(cateProducts != null && cateProducts.Any())
                {
                    @foreach (var item in cateProducts)
                    {
                        <div>
                            <div class="dashboard-category dashboard_category_item">
                                <a href="javascripts(0)" class="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@item.Name">
                                    <img src="@(string.IsNullOrEmpty(item.FilePath) ? "/Img_Dev/banner.png" : item.FilePath)" class="img-fluid" alt="Category" width="130"
                                         height="130">
                                </a>
                              @*   <a href="javascript:void(0)" class="category-name">
                                    <h6>@item.Name</h6>
                                </a> *@
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>