@inject CateProductServices _cateProductServices

@code {
    private IEnumerable<CateProductDto> cateProducts;

    protected override async Task OnInitializedAsync()
    {
        cateProducts = await _cateProductServices.GetAllCategoryProductsHaveProduct();
    }
}

<div class="col-12">
    <div class="card o-hidden card-hover">
        <div class="card-header border-0 pb-1">
            <div class="card-header-title p-0">
                <h4>Danh mục sản phẩm</h4>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="category-slider no-arrow">
                @if(cateProducts != null && cateProducts.Any())
                {
                    @foreach (var item in cateProducts)
                    {


                       @*  <div class="category category-classic category-absolute overlay-zoom br-xs">
                            <a onclick="window.location.href='/san-pham/?c2=@item.Id';" class="category-media cursor">
                                <img src="@(string.IsNullOrEmpty(item.FilePath) ? "/Img_Dev/banner.png" : item.FilePath)" alt="Category" width="130"
                                     height="130" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';">
                            </a>
                            <div class="category-content">
                                <h4 class="category-name"></h4>
                                <a onclick="window.location.href='/san-pham/?c2=@item.Id';" class="btn btn-primary btn-link btn-underline mt-1 cursor">
                                    Xem thêm
                                </a>
                            </div>
                        </div> *@
                        <div>
                            <div class="dashboard-category">
                                <a href="" class="">
                                    <img src="@(string.IsNullOrEmpty(item.FilePath) ? "/Img_Dev/banner.png" : item.FilePath)" class="img-fluid" alt="Category" width="130"
                                         height="130">
                                </a>
                                <a href="javascript:void(0)" class="category-name">
                                    <h6>@item.Name</h6>
                                </a>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>