@inject OrderServices _orderServices


@code{
    private IEnumerable<OrderDto> orders;

    public int days = 30;

    protected override async Task OnInitializedAsync()
    {
        // await LoadListOrdersNewAsync();
    }

    private async Task LoadListOrdersNewAsync()
    {
        var response = await _orderServices.GetListOrdersNewAsync(days);
        if (response.Success)
        {
            orders = response.Data;
        }
    }
}

<div class="col-xl-6">
    <div class="card o-hidden card-hover">
        <div class="card-header card-header-top card-header--2 px-0 pt-0">
            <div class="card-header-title">
                <h4>Đơn đặt hàng gần đây</h4>
            </div>

        </div>

        <div class="card-body p-0">
            <div>
                <div class="table-responsive scroll_recent_order">
                    <table class="best-selling-table table border-0">
                        <tbody>
                            @if (orders != null && orders.Any())
                            {
                                @foreach (var item in orders)
                                {

                                    <tr>
                                        <td>
                                            <div class="best-product-box">
                                                <div class="product-name">
                                                    <h5>Mã đơn hàng</h5>
                                                    <h6>#@item.OrderCode</h6>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="product-detail-box">
                                                <h6>Ngày đặt</h6>
                                                <h5>@item.OrderDate.ToString("dd-MM-yyyy")</h5>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="product-detail-box">
                                                <h6>Giá</h6>
                                                <h5>@item.TotalAmount.ToString("N0") <span class="currency-symbol text-danger">đ</span></h5>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="product-detail-box">
                                                <h6>Trang thái</h6>
                                                @if(item.OrderStatus == true)
                                                {
                                                    <h5>Đã duyệt  <i class="fas fa-circle text-success text_10"></i></h5>
                                                }
                                                else
                                                {
                                                    <h5>Chưa duyệt  <i class="fas fa-circle text-danger text_10"></i></h5>
                                                }
                                            </div>
                                        </td>

                                        <td>
                                            <div class="product-detail-box">
                                                <h6>Ngân hàng</h6>
                                                <h5 class="text-danger">@item.BankName</h5>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>