<div class="col-xl-6">
    <div class="card o-hidden card-hover">
        <div class="card-header card-header-top card-header--2 px-0 pt-0">
            <div class="card-header-title">
                <h4>Đơn đặt hàng gần đây</h4>
            </div>

            <div class="best-selling-box d-sm-flex d-none">
                <span>Short By:</span>
                <div class="dropdown">
                    <button class="btn p-0 dropdown-toggle" type="button"
                            id="dropdownMenuButton2" data-bs-toggle="dropdown"
                            data-bs-auto-close="true">
                        Today
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-body p-0">
            <div>
                <div class="table-responsive">
                    <table class="best-selling-table table border-0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="best-product-box">
                                        <div class="product-name">
                                            <h5>Aata Buscuit</h5>
                                            <h6>#64548</h6>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Date Placed</h6>
                                        <h5>5/1/22</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Price</h6>
                                        <h5>$250.00</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Order Status</h6>
                                        <h5>Completed</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Payment</h6>
                                        <h5 class="text-danger">Unpaid</h5>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="best-product-box">
                                        <div class="product-name">
                                            <h5>Aata Buscuit</h5>
                                            <h6>26-08-2022</h6>
                                        </div>
                                    </div>
                                </td>


                                <td>
                                    <div class="product-detail-box">
                                        <h6>Date Placed</h6>
                                        <h5>5/1/22</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Price</h6>
                                        <h5>$250.00</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Order Status</h6>
                                        <h5>Completed</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Payment</h6>
                                        <h5 class="theme-color">Paid</h5>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="best-product-box">
                                        <div class="product-name">
                                            <h5>Aata Buscuit</h5>
                                            <h6>26-08-2022</h6>
                                        </div>
                                    </div>
                                </td>


                                <td>
                                    <div class="product-detail-box">
                                        <h6>Date Placed</h6>
                                        <h5>5/1/22</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Price</h6>
                                        <h5>$250.00</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Order Status</h6>
                                        <h5>Completed</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Payment</h6>
                                        <h5 class="theme-color">Paid</h5>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="best-product-box">
                                        <div class="product-name">
                                            <h5>Aata Buscuit</h5>
                                            <h6>26-08-2022</h6>
                                        </div>
                                    </div>
                                </td>


                                <td>
                                    <div class="product-detail-box">
                                        <h6>Date Placed</h6>
                                        <h5>5/1/22</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Price</h6>
                                        <h5>$250.00</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Order Status</h6>
                                        <h5>Completed</h5>
                                    </div>
                                </td>

                                <td>
                                    <div class="product-detail-box">
                                        <h6>Payment</h6>
                                        <h5 class="theme-color">Paid</h5>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>