<button class="buttonload">
    <i class="fa fa-spinner fa-spin"></i>
</button>

<style>
    .buttonload {
        color: #0da487;
        background-color: #fff;
        border: none;
        padding: 0px 15px;
        font-size: 16px;
        border-radius: 30px;
    }

    .buttonload i {
        margin-left: -12px;
        margin-right: 8px;
    }
</style>