
<button class="btn w-100 justify-content-center buttonloads">
    <i class="fa fa-spinner fa-spin"></i>
    Loading ...
</button>
<style>
    .buttonloads {
       border: none;
       color: white;
       padding: 9px 23px;
       font-size: 16px;
    }

    .buttonloads i {
       margin-left: -12px;
       margin-right: 8px;
     }
</style>

