@page "/forgot-password"
@rendermode InteractiveServer

<link href="/assets/css/style.min.css" rel="stylesheet">
<main class="main login-page">
    <!-- End of Breadcrumb -->
    <div class="page-content">
        <div class="container">
            <div class="login-popup">
                <div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
                    <ul class="nav nav-tabs text-uppercase" role="tablist">
                        <li class="nav-item">
                            <a href="#sign-in" class="nav-link active">Đổi mật khẩu</a>
                        </li>
                    </ul>
                    <div class="tab-content row w-100">
                        <div class="tab-pane active col-12">
                            <div class="form-group mb-0">
                                <label>Email *</label>
                                <input type="text" class="form-control" name="password" id="password" required>
                            </div>
                            <div class="form-group mb-0">
                                <label>VerifiryCode *</label>
                                <input type="text" class="form-control" name="password" id="password" required>
                            </div>
                           <div class="d-flex row g-3">
                                <div class="form-group col-6">
                                    <label>Password *</label>
                                    <input type="password" class="form-control" name="username" id="username" required>
                                </div>
                                <div class="form-group mb-0 col-6">
                                    <label>Confirm Password *</label>
                                    <input type="password" class="form-control" name="password" id="password" required>
                                </div>
                           </div>
                            <a href="#" class="btn btn-primary">Xác nhận</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@code {

}
