@page "/account/forgot-password"

@inject AccountServices AccountService
@rendermode InteractiveServer

@* <link href="css/auth.css" rel="stylesheet" type="text/css" /> *@
<link href="/assets/css/style.min.css" rel="stylesheet">

<main class="main login-page">
    <!-- End of Breadcrumb -->
    <div class="page-content">
        <div class="container">
            <div class="login-popup">
                <EditForm Model="@forgotPasswordDto" OnValidSubmit="HandleForgotPassword" FormName="forgot-password">
                    <DataAnnotationsValidator />
                    <div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
                        <ul class="nav nav-tabs text-uppercase border_bottom_unset" role="tablist">
                            <li class="nav-item">
                                <a href="#sign-in" class="nav-link active" style="border: unset">Confirm Email</a>
                            </li>
                        </ul>
                        <div class="tab-content row w-100">
                            <div class="tab-pane active col-12">
                                <div class="form-group mb-0">
                                    <label>Email *</label>
                                    <InputText @bind-Value="forgotPasswordDto.Email" type="text" class="form-control" placeholder="Nhập email của bạn"/>
                                    <ValidationMessage class="text-danger" For="@(() => forgotPasswordDto.Email)" />
                                </div>
                                <button @onclick="HandleForgotPassword" class="btn btn-primary mx-auto mt-5">Gửi Mã Xác Nhận</button>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</main>


@code {
    private ForgotPasswordDto forgotPasswordDto = new ForgotPasswordDto();
    private string errorMessage;
    private bool isSuccess;

    private async Task HandleForgotPassword()
    {
        isSuccess = await AccountService.ForgotPasswordAsync(forgotPasswordDto.Email!);
        if (isSuccess)
        {
            // Hiển thị thông báo thành công
            ToastService.ShowSuccess("Mã xác thực đã được gửi về email của bạn");
            NavigationManager.NavigateTo("/account/Reset-Password", forceLoad: true);
        }
        else
        {
            errorMessage = "Đã xảy ra lỗi khi gửi mã xác nhận";
        }
    }
}
