@page "/account/dang-nhap"
@inject AccountService AccountService
<link rel="stylesheet" type="text/css" href="assets/css/style.min.css">

<main class="main login-page">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            @*  <h1 class="page-title mb-0">Đăng Nhập</h1> *@
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="login-popup">
                <div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
                    <ul class="nav nav-tabs text-uppercase" role="tablist">
                        <li class="nav-item">
                            <a href="" class="nav-link active">Đăng Nhập</a>
                        </li>
                    </ul>
                    <EditForm Enhance Model="_loginModel" method="POST" OnValidSubmit="HandleLogin" class="tab-content" id="form-login" FormName="form-login">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="tab-pane active">
                            <div class="form-group">
                                <label>Email *</label>
                                <InputText @bind-Value="_loginModel.Email" type="text" class="form-control" name="email" />
                                <ValidationMessage For="@(() => _loginModel.Email)" />
                            </div>
                            <div class="form-group mb-0">
                                <label>Mật khẩu *</label>
                                <InputText @bind-Value="_loginModel.Password" type="password" class="form-control" name="password" />
                                <ValidationMessage For="@(() => _loginModel.Password)" />
                            </div>
                            <div class="form-checkbox d-flex align-items-center justify-content-between">
                                <input type="checkbox" class="custom-checkbox" id="remember1" name="remember1" required="">
                                <label for="remember1">Nhớ mật khẩu</label>
                                <a href="#">Quên mật khẩu</a>
                            </div>
                            <button class="btn btn-primary" type="submit">Đăng nhập</button>
                        </div>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
</main>

@code 
{
    //bắt context - chạy dạng dotnet MVC
    [SupplyParameterFromForm(FormName = "HandleLogin")] public LoginDto _loginModel { get; set; } = new();
    private bool _loginFailed;

    private async Task HandleLogin()
    {
        // lưu cookie bằng context
        _loginFailed = !await AccountService.LoginAsync(_loginModel);
        if (!_loginFailed)
        {
            // Redirect or handle successful login
            NavigationManager.NavigateTo("/");
        }
    }
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}