@page "/account/dang-nhap"
@inject AccountService AccountService
@inject ILocalStorageService LocalStorage
@inject AuthState AuthState
@inject AuthenticationStateProvider AuthenticationStateProvider

@rendermode InteractiveServer

<link href="css/account.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="assets/css/style.min.css">

<main class="main login-page">
    <div class="page-content">
        <div class="container">
            <div class="login-popup">
                <div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
                    <ul class="nav nav-tabs text-uppercase" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" style="border:unset">Đăng Nhập</a>
                        </li>
                    </ul>
                    <EditForm Model="_loginModel" OnValidSubmit="HandleLogin" class="tab-content w-100" id="form-login" FormName="form-login">
                        <DataAnnotationsValidator />
                        <div class="tab-pane active">
                            <div class="form-group">
                                <label>Email *</label>
                                <InputText @bind-Value="_loginModel.Email" type="text" class="form-control" name="email" />
                                <ValidationMessage class="text-danger" For="@(() => _loginModel.Email)" />
                            </div>
                            <div class="form-group mb-0 input_item_auth">
                                <label>Mật khẩu *</label>
                                <InputText @bind-Value="_loginModel.Password" type="@passwordFieldType" class="form-control" name="password" />
                                <ValidationMessage class="text-danger" For="@(() => _loginModel.Password)" />
                                <span class="fa @iconClass field-icon" @onclick="TogglePasswordVisibility"></span>
                            </div>
                            <div class="form-checkbox d-flex align-items-center justify-content-between">
                                <a class="text-danger" href="/account/forgot-password">Quên mật khẩu?</a>
                                <a class="text-danger" href="/account/confirm-email">Quên mật khẩu?</a>
                            </div>
                            @if (ShowLoadingButton)
                            {
                                <ButtonLoadingSpinner></ButtonLoadingSpinner>
                            }
                            else
                            {
                                <button class="btn btn-primary cursor" type="submit">Đăng nhập</button>
                            }

                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</main>
@code {
    public bool ShowLoadingButton { get; set; } = false;
    private LoginDto _loginModel = new LoginDto();
    private string loginError;
    private string errorMessage = string.Empty;
    private string returnUrl = string.Empty;
    private string passwordFieldType = "password";
    private string iconClass = "fa-eye-slash";

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("returnUrl", out var url))
        {
            returnUrl = "url";
        }
    }

    private async Task HandleLogin()
    {
        ShowLoadingButton = true;

        var result = await AccountService.Login(_loginModel);
        if (result.IsAuthSuccessful)
        {
            errorMessage = string.Empty;

            AuthState.IsLoggedIn = true;
            ToastService.ShowSuccess("Đăng nhập thành công!");

            await LocalStorage.SetItemAsync("authToken", result.Token);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();

            StateHasChanged();

            await Task.Delay(1000);
            NavigationManager.NavigateTo(returnUrl, forceLoad: true);
        }
        else
        {
            loginError = "Đăng nhập không thành công. Vui lòng kiểm tra thông tin đăng nhập của bạn";
            ToastService.ShowError(loginError);
            return;
        }
        ShowLoadingButton = false;
    }
    private void TogglePasswordVisibility()
    {
        if (passwordFieldType == "password")
        {
            passwordFieldType = "text"; // Hiển thị mật khẩu
            iconClass = "fa-eye"; // Đổi icon thành mắt mở
        }
        else
        {
            passwordFieldType = "password"; // Ẩn mật khẩu
            iconClass = "fa-eye-slash"; // Đổi icon thành mắt đóng
        }
    }
}
