@page "/account/login"

@layout AuthenticationLayout

@rendermode InteractiveServer

<section class="log-in-section section-b-space">
    <a href="" class="logo-login"><img src="./img_dev/Logo/logo.svg" class="img-fluid"></a>
    <div class="container w-100">
        <div class="row">

            <div class="col-xl-5 col-lg-6 me-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3>Chào mừng tới ShopX</h3>
                        <h4>Đăng nhập</h4>
                    </div>

                    <div class="input-box">
                        <EditForm class="row g-4" Enhance Model="User" OnValidSubmit="HandleLogin" FormName="form-login">
                            <DataAnnotationsValidator />
                            <div class="col-12">
                                <div class="form-floating theme-form-floating log-in-form">
                                    <InputText type="email" class="form-control" @bind-Value="User.Email" placeholder="Email Address" />
                                    <ValidationMessage class="text-danger" For="@(() => User.Email)" />
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating theme-form-floating log-in-form">
                                    <InputText type="password" class="form-control" @bind-Value="User.Password"
                                    placeholder="Password" />
                                    <ValidationMessage class="text-danger" For="@(() => User.Password)" />
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="forgot-box">
                                    <a href="forgot.html" class="forgot-password">Quên mật khẩu?</a>
                                </div>
                            </div>

                            <div class="col-12">

                                @if (ShowLoadingButton)
                                {
                                    <LoginLoad></LoginLoad>
                                }
                                else
                                {
                                    <button class="btn btn-animation w-100 justify-content-center" type="submit">
                                        Đăng nhập
                                    </button>
                                }
                            </div>
                        </EditForm>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@code {
    public LoginDto User = new();
    public bool ShowLoadingButton { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/dashboard");
        }
    }


    public async Task HandleLogin()
    {
        ShowLoadingButton = true;

        var isSuccess = await _accountServices.LoginAsync(User);

        if (isSuccess)
        {
            NavigationManager.NavigateTo("/");
        }

        ShowLoadingButton = false;
    }

}
