@page "/"

<link rel="stylesheet" type="text/css" href="assets/css/demo1.min.css">
<link href="css/home.css" rel="stylesheet" />
<PageTitle>Home</PageTitle>

<P_Banner/>

<div class="container">
    <P_BannerTop/>

    <P_ProductIsHot/>

    <P_Categories/>

    <P_ProductPopular/>

    <P_Introduce/>
</div>