@page "/"

<link rel="stylesheet" type="text/css" href="assets/css/demo1.min.css">
<link href="css/home.css" rel="stylesheet" />
<script src="controller/home.js"></script>
<PageTitle>Home</PageTitle>

<P_Banner />

<div class="container">
    <P_BannerRightLeft />

    <P_ProductIsHot />

    <P_Categories />

    <P_ProductNew />

    <P_BannerBottom />

    <P_ProductDiscount />

    <P_Introduce />

</div>