<section class="intro-section mt-4">
    <div class="owl-carousel owl-theme row gutter-no cols-1 animation-slider" data-owl-options="{
                    'nav': false,
                    'dots': true,
                    'autoplay': false,
                    'items': 1,
                    'dotsContainer': '.custom-dots'
                }">
        <div class="banner banner-fixed content-center intro-slide intro-slide1"
             style="background-image: url(assets/images/demos/demo9/slides/slide-1.jpg); background-color: #EEF4F4;">
            <div class="container">
                <div class="banner-content d-inline-block y-50">
                    <div class="slide-animate" data-animation-options="{
                                    'name': 'zoomIn', 'duration': '1s'
                                }">
                        <h5 class="banner-subtitle text-uppercase font-weight-bold">
                            Deals and Promotions
                        </h5>
                        <h3 class="banner-title text-capitalize ls-25">
                            <span class="text-primary">Winter Season</span><br>
                            Fashion Lifestyle Collection
                        </h3>
                        <a href="demo9-shop.html"
                           class="btn btn-dark btn-outline btn-rounded btn-icon-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <figure class="slide-image skrollable slide-animate">
                    <img src="assets/images/demos/demo9/slides/slide-image-1.png" alt="Banner"
                         data-bottom-top="transform: translatex(-10vh);"
                         data-top-bottom="transform: translateX(10vh);" width="472" height="510">
                </figure>
            </div>
        </div>
        <!-- End of Intro Slide 1 -->
        <div class="banner banner-fixed intro-slide intro-slide2"
             style="background-image: url(assets/images/demos/demo9/slides/slide-2.jpg); background-color: #EDEEF0;">
            <div class="container">
                <div class="banner-content d-inline-block y-50">
                    <div class="slide-animate" data-animation-options="{
                                    'name': 'fadeInDownShorter', 'duration': '1s'
                                }">
                        <h5 class="banner-subtitle text-primary text-uppercase font-weight-bold mb-2">
                            This
                            Week Only!
                        </h5>
                        <h3 class="banner-title text-capitalize ls-25">Originals Comper Star. Shoes</h3>
                        <hr class="banner-divider bg-dark">
                        <p class="text-dark">Free Shipping on all orders over <strong>$80.00</strong></p>
                        <a href="demo9-shop.html"
                           class="btn btn-dark btn-outline btn-rounded btn-icon-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <figure class="slide-image skrollable slide-animate">
                    <img src="assets/images/demos/demo9/slides/slide-image-2.png" alt="Banner"
                         data-bottom-top="transform: translatex(-10vh);"
                         data-top-bottom="transform: translateX(10vh);" width="578" height="364">
                </figure>
            </div>
        </div>
        <!-- End of Intro Slide 2 -->
        <div class="banner banner-fixed intro-slide intro-slide3 content-center"
             style="background-image: url(assets/images/demos/demo9/slides/slide-3.jpg); background-color: #D4D6D5;">
            <div class="container">
                <div class="banner-content y-50">
                    <div class="content-left mr-auto slide-animate mb-4 mb-lg-0" data-animation-options="{
                                    'name': 'fadeInUpShorter', 'duration': '1s'
                                }">
                        <h5 class="banner-subtitle text-white br-xs">Only until the end of this Week</h5>
                        <h3 class="banner-title text-uppercase font-weight-normal mb-0 ls-25">
                            Fashion<strong class="ml-2">Sale</strong>
                        </h3>
                        <p class="text-dark font-weight-normal text-uppercase mb-0 ls-25">
                            Up to <strong class="text-uppercase text-secondary font-weight-bolder">
                                80%
                                Off
                            </strong>
                        </p>
                    </div>
                    <div class="content-right slide-animate" data-animation-options="{
                                    'name': 'fadeInUpShorter', 'duration': '1s'
                                }">
                        <h4 class="text-white text-uppercase ls-25">
                            Chooses to extra comfort all around
                        </h4>
                        <a href="demo9-shop.html" class="btn btn-dark btn-rounded btn-icon-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <figure class="slide-image skrollable slide-animate">
                    <img src="assets/images/demos/demo9/slides/slide-image-3.png" alt="Banner"
                         data-bottom-top="transform: translatex(-10vh);"
                         data-top-bottom="transform: translateX(10vh);" width="488" height="510">
                </figure>
            </div>
        </div>
        <!-- End of Intro Slide 3 -->
        <div class="banner banner-fixed content-center intro-slide intro-slide1"
             style="background-image: url(assets/images/demos/demo9/slides/slide-1.jpg); background-color: #EEF4F4;">
            <div class="container">
                <div class="banner-content d-inline-block y-50">
                    <div class="slide-animate" data-animation-options="{
                                    'name': 'zoomIn', 'duration': '1s'
                                }">
                        <h5 class="banner-subtitle text-uppercase font-weight-bold">
                            Deals and Promotions
                        </h5>
                        <h3 class="banner-title text-capitalize ls-25">
                            <span class="text-primary">Winter Season</span><br>
                            Fashion Lifestyle Collection
                        </h3>
                        <a href="demo9-shop.html"
                           class="btn btn-dark btn-outline btn-rounded btn-icon-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <figure class="slide-image skrollable slide-animate">
                    <img src="assets/images/demos/demo9/slides/slide-image-1.png" alt="Banner"
                         data-bottom-top="transform: translatex(-10vh);"
                         data-top-bottom="transform: translateX(10vh);" width="472" height="510">
                </figure>
            </div>
        </div>
        <!-- End of Intro Slide 1 -->
        <div class="banner banner-fixed intro-slide intro-slide2"
             style="background-image: url(assets/images/demos/demo9/slides/slide-2.jpg); background-color: #EDEEF0;">
            <div class="container">
                <div class="banner-content d-inline-block y-50">
                    <div class="slide-animate" data-animation-options="{
                                    'name': 'flipInY', 'duration': '1s'
                                }">
                        <h5 class="banner-subtitle text-primary text-uppercase font-weight-bold mb-2">
                            This
                            Week Only!
                        </h5>
                        <h3 class="banner-title text-capitalize ls-25">Originals Comper Star. Shoes</h3>
                        <hr class="banner-divider bg-dark">
                        <p class="text-dark">Free Shipping on all orders over <strong>$80.00</strong></p>
                        <a href="demo9-shop.html"
                           class="btn btn-dark btn-outline btn-rounded btn-icon-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <figure class="slide-image skrollable slide-animate">
                    <img src="assets/images/demos/demo9/slides/slide-image-2.png" alt="Banner"
                         data-bottom-top="transform: translatex(-10vh);"
                         data-top-bottom="transform: translateX(10vh);" width="578" height="364">
                </figure>
            </div>
        </div>
        <!-- End of Intro Slide 2 -->
    </div>
    <div class="custom-dots owl-img-dots appear-animate">
        <a href="#" class="active">
            <img src="assets/images/demos/demo9/slides/dot-1.png" alt="Dot" width="70" height="70" />
        </a>
        <a href="#">
            <img src="assets/images/demos/demo9/slides/dot-2.png" alt="Dot" width="70" height="70" />
        </a>
        <a href="#">
            <img src="assets/images/demos/demo9/slides/dot-3.png" alt="Dot" width="70" height="70" />
        </a>
        <a href="#">
            <img src="assets/images/demos/demo9/slides/dot-1.png" alt="Dot" width="70" height="70" />
        </a>
        <a href="#">
            <img src="assets/images/demos/demo9/slides/dot-2.png" alt="Dot" width="70" height="70" />
        </a>
    </div>
</section>
<div class="owl-carousel owl-theme row cols-md-4 cols-sm-3 cols-1 icon-box-wrapper appear-animate br-sm mb-10 appear-animate"
     data-owl-options="{
                    'nav': false,
                    'dots': false,
                    'loop': true,
                    'autoplay': true,
                    'autoplayTimeout': 4000,
                    'responsive': {
                        '0': {
                            'items': 1
                        },
                        '576': {
                            'items': 2
                        },
                        '768': {
                            'items': 3
                        },
                        '992': {
                            'items': 3
                        },
                        '1200': {
                            'items': 4
                        }
                    }
                }">
    <div class="icon-box icon-box-side text-dark">
        <span class="icon-box-icon icon-shipping">
            <i class="w-icon-truck"></i>
        </span>
        <div class="icon-box-content">
            <h4 class="icon-box-title">Free Shipping & Returns</h4>
            <p class="text-default">For all orders over $99</p>
        </div>
    </div>
    <div class="icon-box icon-box-side text-dark">
        <span class="icon-box-icon icon-payment">
            <i class="w-icon-bag"></i>
        </span>
        <div class="icon-box-content">
            <h4 class="icon-box-title">Secure Payment</h4>
            <p class="text-default">We ensure secure payment</p>
        </div>
    </div>
    <div class="icon-box icon-box-side text-dark icon-box-money">
        <span class="icon-box-icon icon-money">
            <i class="w-icon-money"></i>
        </span>
        <div class="icon-box-content">
            <h4 class="icon-box-title">Money Back Guarantee</h4>
            <p class="text-default">Any back within 30 days</p>
        </div>
    </div>
    <div class="icon-box icon-box-side text-dark icon-box-chat">
        <span class="icon-box-icon icon-chat">
            <i class="w-icon-chat"></i>
        </span>
        <div class="icon-box-content">
            <h4 class="icon-box-title">Customer Support</h4>
            <p class="text-default">Call or email us 24/7</p>
        </div>
    </div>
</div>