


<div class="row category-banner-wrapper appear-animate pt-6 pb-8">
    <div class="col-md-6 mb-4">
        <div class="banner banner-fixed br-xs">
            <figure>
                <img src="assets/images/demos/demo1/categories/1-1.jpg" alt="Category Banner"
                     width="610" height="160" style="background-color: #ecedec;" />
            </figure>
            <div class="banner-content y-50 mt-0">
                <h5 class="banner-subtitle font-weight-normal text-dark">
                    Get up to <span class="text-secondary font-weight-bolder text-uppercase ls-25">20% Off</span>
                </h5>
                <h3 class="banner-title text-uppercase">
                    Sports Outfits<br><span class="font-weight-normal text-capitalize">Collection</span>
                </h3>
                <div class="banner-price-info font-weight-normal">
                    Starting at <span class="text-secondary font-weight-bolder">$170.00</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="banner banner-fixed br-xs">
            <figure>
                <img src="assets/images/demos/demo1/categories/1-2.jpg" alt="Category Banner"
                     width="610" height="160" style="background-color: #636363;" />
            </figure>
            <div class="banner-content y-50 mt-0">
                <h5 class="banner-subtitle font-weight-normal text-capitalize">New Arrivals</h5>
                <h3 class="banner-title text-white text-uppercase">
                    Accessories<br><span class="font-weight-normal text-capitalize">Collection</span>
                </h3>
                <div class="banner-price-info text-white font-weight-normal text-capitalize">
                    Only From
                    <span class="text-secondary font-weight-bolder">$90.00</span>
                </div>
            </div>
        </div>
    </div>
</div>