@inject HomeServices HomeServices

@code {
    private IEnumerable<CateProductDto> cateProducts;

    protected override async Task OnInitializedAsync()
    {
        cateProducts = await HomeServices.GetAllCategoryProductsHaveProduct();
    }
}
<div class="category-section top-category bg-grey pt-10 pb-10 appear-animate">
    <div class="container pb-2">
        <h2 class="title justify-content-center pt-1 ls-normal mb-5">Danh mục sản phẩm</h2>
        <div class="owl-carousel owl-theme row cols-lg-6 cols-md-5 cols-sm-3 cols-2" data-owl-options="{
                        'nav': false,
                        'dots': false,
                        'margin': 20,
                        'responsive': {
                            '0': {
                                'items': 2
                            },
                            '576': {
                                'items': 3
                            },
                            '768': {
                                'items': 5
                            },
                            '992': {
                                'items': 6
                            }
                        }
                    }">
            @if(cateProducts != null && cateProducts.Any())
            {
                @foreach (var item in cateProducts)
                {
                    @if(item.ParentCategory != null)
                    {
                        <div class="category category-classic category-absolute overlay-zoom br-xs">
                            <a onclick="window.location.href='/san-pham/?c2=@item.Id';" class="category-media cursor">
                                <img src="@(string.IsNullOrEmpty(item.FilePath) ? "/Img_Dev/banner.png" : item.FilePath)" alt="Category" width="130"
                                     height="130" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';">
                            </a>
                            <div class="category-content">
                                <h4 class="category-name"></h4>
                                <a onclick="window.location.href='/san-pham/?c2=@item.Id';" class="btn btn-primary btn-link btn-underline">
                                    Xem thêm
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="category category-classic category-absolute overlay-zoom br-xs">
                            <a onclick="window.location.href='/san-pham/?c1=@item.Id';" class="category-media cursor">
                                <img src="@(string.IsNullOrEmpty(item.FilePath) ? "/Img_Dev/banner.png" : item.FilePath)" alt="Category" width="130"
                                     height="130" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';">
                            </a>
                            <div class="category-content">
                                <h4 class="category-name"></h4>
                                <a onclick="window.location.href='/san-pham/?c1=@item.Id';" class="btn btn-primary btn-link btn-underline">
                                    Xem thêm
                                </a>
                            </div>
                        </div>
                    }
                  
                }
            }
        </div>
    </div>
</div>