<div class="post-wrapper appear-animate mb-4">
    <div class="title-link-wrapper pb-1 mb-4">
        <h2 class="title ls-normal mb-0">From Our Blog</h2>
        <a href="blog-listing.html" class="font-weight-bold font-size-normal">View All Articles</a>
    </div>
    <div class="owl-carousel owl-theme row cols-lg-4 cols-md-3 cols-sm-2 cols-1" data-owl-options="{
                        'items': 4,
                        'nav': false,
                        'dots': true,
                        'loop': false,
                        'margin': 20,
                        'responsive': {
                            '0': {
                                'items': 1
                            },
                            '576': {
                                'items': 2
                            },
                            '768': {
                                'items': 3
                            },
                            '992': {
                                'items': 4,
                                'dots': false
                            }
                        }
                    }">
        <div class="post text-center overlay-zoom">
            <figure class="post-media br-sm">
                <a href="post-single.html">
                    <img src="assets/images/demos/demo1/blogs/1.jpg" alt="Post" width="280" height="180"
                         style="background-color: #4b6e91;" />
                </a>
            </figure>
            <div class="post-details">
                <div class="post-meta">
                    by <a href="#" class="post-author">John Doe</a>
                    - <a href="#" class="post-date mr-0">03.05.2021</a>
                </div>
                <h4 class="post-title">
                    <a href="post-single.html">Aliquam tincidunt mauris eurisus</a>
                </h4>
                <a href="post-single.html" class="btn btn-link btn-dark btn-underline">
                    Read More<i class="w-icon-long-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="post text-center overlay-zoom">
            <figure class="post-media br-sm">
                <a href="post-single.html">
                    <img src="assets/images/demos/demo1/blogs/2.jpg" alt="Post" width="280" height="180"
                         style="background-color: #cec9cf;" />
                </a>
            </figure>
            <div class="post-details">
                <div class="post-meta">
                    by <a href="#" class="post-author">John Doe</a>
                    - <a href="#" class="post-date mr-0">03.05.2021</a>
                </div>
                <h4 class="post-title"><a href="post-single.html">Cras ornare tristique elit</a></h4>
                <a href="post-single.html" class="btn btn-link btn-dark btn-underline">
                    Read More<i class="w-icon-long-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="post text-center overlay-zoom">
            <figure class="post-media br-sm">
                <a href="post-single.html">
                    <img src="assets/images/demos/demo1/blogs/3.jpg" alt="Post" width="280" height="180"
                         style="background-color: #c9c7bb;" />
                </a>
            </figure>
            <div class="post-details">
                <div class="post-meta">
                    by <a href="#" class="post-author">John Doe</a>
                    - <a href="#" class="post-date mr-0">03.05.2021</a>
                </div>
                <h4 class="post-title">
                    <a href="post-single.html">Vivamus vestibulum ntulla nec ante</a>
                </h4>
                <a href="post-single.html" class="btn btn-link btn-dark btn-underline">
                    Read More<i class="w-icon-long-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="post text-center overlay-zoom">
            <figure class="post-media br-sm">
                <a href="post-single.html">
                    <img src="assets/images/demos/demo1/blogs/4.jpg" alt="Post" width="280" height="180"
                         style="background-color: #d8dce0;" />
                </a>
            </figure>
            <div class="post-details">
                <div class="post-meta">
                    by <a href="#" class="post-author">John Doe</a>
                    - <a href="#" class="post-date mr-0">03.05.2021</a>
                </div>
                <h4 class="post-title"><a href="post-single.html">Fusce lacinia arcuet nulla</a></h4>
                <a href="post-single.html" class="btn btn-link btn-dark btn-underline">
                    Read More<i class="w-icon-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
