@inject ProductServices ProductServices

@code {
    private IEnumerable<ProductDto> newProducts;

    protected override async Task OnInitializedAsync()
    {
        var response = await ProductServices.GetAllNewProductsAsync();
        if (response.Success)
        {
            newProducts = response.Data;
        }
        else
        {
            // Xử lý khi không có dữ liệu sản phẩm mới
            newProducts = Enumerable.Empty<ProductDto>();
        }
    }
}

<h2 class="title justify-content-center ls-normal mb-4 mt-10 pt-1 appear-animate">
    Sản Phẩm mới nhất
</h2>
<div class="tab-content product-wrapper appear-animate">
    <div class="tab-pane active pt-4" id="tab1-1">
        <div class="row cols-xl-5 cols-md-4 cols-sm-3 cols-2">
            @if (newProducts != null && newProducts.Any())
            {
                @foreach (var item in newProducts)
                {
                    <div class="product-wrap">
                        <div class="product text-center img__wrapper">

                            <figure class="product-media spotlight">
                                <a href="product-default.html">
                                    <img src="@(string.IsNullOrEmpty(item.ImageFilePath) ? "/Img_Dev/banner.png" : item.ImageFilePath)" alt="Product"
                                         width="300" height="338" onerror="this.onerror=null;this.src='/Img_Dev/banner.png';" />
                                </a>
                            </figure>
                            <img src="http://www.savoy-sharm.com/media-room/images/hi-res/king-bed-room-accommodation-savoy-luxury-5-stars-accommodation-sharm-el-sheikh.jpg" alt="" />
                            @if(item.Discount > 1)
                            {
                                <a class="sold_out" href="https://abc.com/">@item.Discount</a>
                            }
                            <div class="product-details">
                                <h4 class="product-name"><a href="product-default.html">@item.Name</a></h4>
                                <div class="ratings-container">
                                    <div class="star-rating">
                                        @for (int i = 0; i < item.Rating; i++)
                                        {
                                            <span class="fa fa-star checked"></span>
                                        }
                                        @for (int i = 0; i < (5 - item.Rating); i++)
                                        {
                                            <span class="fa fa-star"></span>
                                        }
                                        
                                    </div>
                                </div>
                                <div class="product-price">
                                    <ins class="new-price">@item.Price</ins>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
           
        </div>
    </div>
</div>
<style>
    .star-rating .fa-star {
    font-size: 13px;
    color: lightgray;
}

.star-rating .checked {
    color: orange;
}

.star-rating .reviews {
    margin-left: 10px;
    font-size: 16px;
    color: gray;
}

    .img__wrapper {
        /* width: 500px;
        height: 300px;
        position: relative; */
        overflow: hidden;
    }

        .img__wrapper img {
            width: 100%;
        }

    .sold_out {
        top: 1em;
        left: -5em;
        color: #fff;
        display: block;
        position: absolute;
        text-align: center;
        text-decoration: none;
        letter-spacing: .06em;
        background-color: #A00;
        padding: 0.5em 5em 0.4em 5em;
        text-shadow: 0 0 0.75em #444;
        box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
        font: bold 12px/1.2em Arial, Sans-Serif;
        -webkit-text-shadow: 0 0 0.75em #444;
        -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
        -webkit-transform: rotate(-45deg) scale(0.75,1);
        z-index: 10;
    }

        .sold_out:before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            margin: -0.3em -5em;
            transform: scale(0.7);
            -webkit-transform: scale(0.7);
            border: 2px rgba(255,255,255,0.7) dashed;
        }

    .spotlight {
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        cursor: pointer;
    }

        .spotlight:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: rgba(255, 255, 255, 0.5);
            -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
            -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
            -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
            -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
            transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
            -webkit-transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            transition: all 0.6s ease;
        }

        .spotlight:hover:before {
            -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 120%, 0);
            -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 120%, 0);
            -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 120%, 0);
            -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 120%, 0);
            transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 120%, 0);
        }
</style>