
/* Login*/
.input_item_auth {
    position: relative;
}
.input_item_auth span {
   right: 15px;
   top: 67%;
   transform: translateY(-50%);
   cursor: pointer;
   position: absolute;
}
.text_danger {
    color: red;
}
/* -------------------------------------------------*/
/**Confirm*/

/*------------------------*/