.product__quantity_item{
    width: 18% !important;
}
.total_price {
    font-weight: 600;
    padding: 1em 2em;
    background-color: #fff;
    color: #333;
}
.category_product {
    line-height: 16px;
    background: #56a6f0;
    color: #fff !important;
    font-size: 11px;
    padding: 3px;
    border-radius: 4px;
}
.disable {
    opacity: 0.5;
    pointer-events: none;
}
.out_of_stock {
    align-items: center;
    display: flex;
}
.out_of_stock span {
    border: 1px solid #ee4d2d;
    border-radius: 2px;
    box-sizing: border-box;
    color: #ee4d2d;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
    margin: 0 5px 5px 0;
    overflow: hidden;
    padding: 2px 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}