.product__quantity_item{
    width: 18% !important;
}
.total_price {
    font-weight: 600;
    padding: 1em 2em;
    background-color: #fff;
    color: #333;
}
.category_product {
    line-height: 16px;
    background: #56a6f0;
    color: #fff !important;
    font-size: 11px;
    padding: 3px;
    border-radius: 4px;
}
