/*BannerTop*/
.custom-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.custom-dots a {
    margin: 0 5px;
}

.custom-dots img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

/*--------BannerRightLeft*/
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 7.3%;
}

.banner-title {
    font-size: 24px;
    font-weight: bold;
}

.banner-price-info {
    font-size: 18px;
}

.btn-underline {
    text-decoration: unset;
}

