.select_item {
    width: 15.4rem !important;
    border: 1px solid #50c656;
}
.category_product {
    line-height: 16px;
    background: #56a6f0;
    color: #fff !important;
    font-size: 11px;
    padding: 3px;
    border-radius: 4px;
}
.category_introduce_item {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
    background: #369;
    color: #fff;
    text-align: center;
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    font-style: normal;
    z-index: 1;
    right: -8px;
    top: -10px;
    font-family: Poppins, sans-serif;
}
.disable {
    opacity: 0.5;
    pointer-events: none;
}
.loading-spinner {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}