.checkbox-content{
    display: none;
}
.search_box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
.search_input {
    border: none;
    outline: none;
    padding: 5px;
    width: 200px;
}
.search_button {
    background: none;
    border: none;
    cursor: pointer;
    color: #999;
    padding: 0 10px;
}
.search_box:hover {
    border-color: #000; /* Thay đổi màu viền khi hover */
}
.profile_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}